rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Marketing images are public (used on social media)
    match /marketing/{allPaths=**} {
      allow read;
    }
  }
}
